<label>
  Keyword
  <Input @type="text" @value={{this.query}}
    {{on "keyup" (fn (perform this.search 1000))}}
  />
</label>
{{this.query}}

Page {{this.page}}
<button type="button" {{on "click" (pipe (fn (mut this.page) (add this.page 1)) (perform this.search 1000))}}>
  Next Page
</button>
{{if this.search.isRunning "Loading ..."}}

<section class={{if this.search.isRunning "is-loading"}}>
  <ul>
    {{#each this.search.lastSuccessful.value.items as |item|}}
      <li>{{item.title}}</li>
    {{else}}
      <li>No results</li>
    {{/each}}
  </ul>
</section>
